In [11]:
import numpy as np

In [12]:
alpha = [chr(x) for x in range(97, 123)]
num = list(range(0, 26))

In [13]:
alpha_to_num = {key : value for (key, value) in zip(alpha, num)}
print(alpha_to_num)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25}

In [14]:
num_to_alpha = {key : value for (key, value) in zip(num, alpha)}
print(num_to_alpha)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h', 8: 'i', 9: 'j', 10: 'k', 11: 'l', 12: 'm', 13: 'n', 14: 'o', 15: 'p', 16: 'q', 17: 'r', 18: 's', 19: 't', 20: 'u', 21: 'v', 22: 'w', 23: 'x', 24: 'y', 25: 'z'}

In [16]:
def get_key(plain_text) :
  l = len(plain_text)
  key_list = []
  i = 0
  while i < l :
    key_list.append(np.random.randint(26))
    i += 1
  key = ''.join([num_to_alpha[x] for x in key_list])
  return key

In [24]:
def masque_jetable_encryption(plain_text) :
  key = get_key(plain_text)
  cypher_text = ''.join([num_to_alpha[(alpha_to_num[i] + alpha_to_num[j]) % 26] for (i, j) in zip(plain_text, key)])
  return cypher_text, key

In [29]:
def masque_jetable_decryption(cypher_text, key) :
  plain_text = ''.join([num_to_alpha[(alpha_to_num[i] - alpha_to_num[j]) % 26] for (i, j) in zip(cypher_text, key)])
  return plain_text